
.how_we_impact_bg_container {
    text-align: center;
    position: relative;
}

.how_we_impact_bg_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.how_we_impact_bg_img img {
    position: absolute;
    top: 0;
    z-index: -1;
}

.how_we_impact_subtitle_icon {
    margin-top: 6rem;
}

.how_we_impact_subtitle_heading {
    font-size: 16px;
    color: var(--image-background);
    letter-spacing: normal;
    font-weight: 800 !important;
    margin-top: 0;
}

.how_we_impact_heading_text {
    font-size: 30px;
    color: var(--homepage-text-color);
    letter-spacing: normal;
    margin: 0 auto; 
    width: 67rem;
    font-weight: 600 !important;
    margin-top: -1.4rem;
}

.how_we_impact_heading_text1 {
    font-size: 18px;
    color: var(--homepage-text-color);
    letter-spacing: normal;
    margin: 0 auto;
    width: 88rem;
}

.how-we-impact-button {
    width: 398px;
    height: 50px;
    box-shadow: none;
    border: none;
    background-color: var(--homepage-color-red);
    border-radius: 5px;
    color: white;
    padding: 16px;
    letter-spacing: normal;
    cursor: pointer;
    font-weight: 600 !important;
    font-size: 16px;
    margin-top: 2rem;
}

.how_we_impact_subtitle {
    font-size: 12px;
    color: var(--homepage-text-color);
    letter-spacing: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.how_we_impact_subtitle p {
    margin-top: 0;
}

@media screen and (max-width: 749px) {
    .how_we_impact_subtitle_icon {
        margin-top: 3.9rem;
    }
    .how_we_impact_subtitle_icon img {
        width: 23px;
    }
    .how_we_impact_bg_img img {
        width: 370px;
    }
    .how_we_impact_subtitle_heading {
        font-size: 14px;
        margin-top: -0.3rem;
    }
    .how_we_impact_heading_text {
        font-size: 24px;
        width: 1rem;
    }
    .how_we_impact_heading_text {
        font-size: 21px;
        width: 31rem;
        margin-top: -9px;
    }
    .how_we_impact_heading_text1{
        font-size: 17px;
        width: 33rem;
        margin-top: -1rem;
    }
    .how_we_impact_heading_text2 {
        margin-top: 1rem;
    }
    .how-we-impact-button  {
        width: 316px;
        font-size: 13px;
        height: 46px;
        margin-top: 1rem;
        font-weight: 700 !important;
    }
    .how_we_impact_subtitle {
        font-size: 9px;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .how_we_impact_heading_text {
        font-size: 26px;
        width: 58rem;
    }
    .how_we_impact_heading_text1{
        font-size: 17px;
        width: 66rem;
        margin-top: -1rem;
    }
    .how_we_impact_heading_text2 {
        font-size: 15px;
        width: 100%;
        margin-top: 1rem; 
    }
    .how-we-impact-button  {
        width: 340px;
        font-size: 14px;
        height: 49px;
        font-weight: 700 !important;
    }
}

@media screen and (max-width: 344px) {
    .how_we_impact_heading_text1{
        font-size: 16px;
        width: 32rem;
        margin-top: -1rem;
    }
}